@model IEnumerable<HotelBooking.Models.Activityevent>

@{
    ViewData["Title"] = "Index";
}

@{
    var isAdmin = User.IsInRole("Admin");
}

<h1>All Events</h1>

@if(isAdmin){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateWhen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateWhen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zł
            </td>
            <td>
                @if(isAdmin){
                    @Html.ActionLink("Edit", "Edit", new {  id=item.ActivityID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActivityID })
                }
                    @Html.ActionLink("Details", "Details", new { id = item.ActivityID })
                
            </td>
        </tr>
}
    </tbody>
</table>
