@model IEnumerable<HotelBooking.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

@{
    var isAdmin = User.IsInRole("Admin");
}

<h1>Rooms</h1>
<h2>Check upcomming events @Html.ActionLink("here", "Index", "Activityevent")</h2>

@if(isAdmin){
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight) zł
            </td>
            <td>
                @if (isAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new {  id=item.RoomID  }, new { @class = "btn btn-warning"})
                    @Html.ActionLink("Details", "Details", new {  id=item.RoomID  }, new { @class = "btn btn-primary"})
                    @Html.ActionLink("Delete", "Delete", new {  id=item.RoomID  }, new { @class = "btn btn-danger"})
                        
                }
                @Html.ActionLink("Book", "Book", "Booking", new { roomID = item.RoomID, roomNumber = item.RoomNumber}, new { @class = "btn btn-success"})
            </td>
        </tr>
}
    </tbody>
</table>
